.hidden {
	display: none
}

.red {
	color: red
}

.gray {
	color: gray
}

.green {
	color: green
}

body {
	width:300px;
}

#tri-warp {
	-webkit-perspective: 500px;
	-webkit-perspective-origin: 50% 75%;
}

#tri-tri {
	position: relative;
	width: 100%;
	height: 600px;
	transform-style: preserve-3d;
	transform: rotateY(0);
	transition: 2s;
}

#tri-tri>div {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility:hidden;
}
#tri-right {
	transform: rotateY(120deg) translateZ(86px);
}
#tri-left {
	transform: rotateY(-120deg) translateZ(86px);
}
#tri-front {
	transform: translateZ(86px);
}

#tri-tri.front {
	transform: rotateY(0deg);
}
#tri-tri.left {
	transform: rotateY(120deg);
}
#tri-tri.right {
	transform: rotateY(-120deg);
}