doctype html
html(lang="zh_CH")
	head
		meta(charset="UTF-8")
		link(rel='stylesheet',type='text/css',href='/static/css/main.css')
		script(src='/static/js/jquery.min.js')
		script(src='/static/js/main.js')
		title word-fuck
	body
		button#toleft left
		button#tofront front
		button#toright right


		#tri-warp
			#tri-tri
				#tri-front front
					div
						div#add-word
							h3 add word
							form(onsubmit="return false;")
								label(for='add-english') english
								input#add-english
								label(for='add-POS') POS
								input#add-POS
								label(for='add-chinese') chinese
								input#add-chinese
								button#add-submit submit
								button#add-reset.hidden(type='reset')
							div#add-notifier
						div#import-words
							h3 import words
							button#import-button import
							div#import-notifier
				#tri-left left
					div#clear-database
						h3 clear database
						button#clear-button clear
						div#clear-notifier
					div#rebuild-index
						h3 rebuild index
						button#index-button rebuild
						div#index-notifier
				#tri-right right
					div#start-quiz
						h3 start quiz
						form(onsubmit="return false;")
							label(for="start-number") number
							input#start-number
							button#start-button start quiz
						div#start-notifier
					div#do-quiz.hidden
						h3 do quiz
						form(onsubmit="return false;")
							input#quiz-english
						div#quiz-chinese
						div#quiz-POS
						div#quiz-remain
						div#quiz-notifier
						button#quiz-submit submit
					div#quiz-result.hidden
						h3 quiz result
						div#result-right
						div#result-wrong
						div#result-total
						div#result-ratio
